POSTGRES_DB=kittygram
POSTGRES_USER=kittygram_user
POSTGRES_PASSWORD=kittygram_password
DB_NAME=kittygram
DB_HOST=db
SECRET_KEY='django-insecure-your-secret-key-here'
ALLOWED_HOSTS=158.158.158.123,127.0.0.1,localhost,your-domain.сom
DEBUG=True
USE_SQLITE=False
